<?xml version="1.0"?>
<configuration>
    <location path="ManufacturerInfo.aspx">
        <system.web>
            <authorization>
                <allow roles="Admin, Focus" />
                <deny roles="FocusLimited" />
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="Manufacturer.aspx">
        <system.web>
            <authorization>
                <allow roles="Admin, Focus" />
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="NewEmail.aspx">
        <system.web>
            <authorization>
                <allow roles="Admin, Focus" />
                <deny roles="FocusLimited" />
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="MailHistory.aspx">
        <system.web>
            <authorization>
                <allow roles="Admin, Focus, FocusLimited" />				
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
  <location path="TransportMode.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin, Focus" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
	<location path="DeliveryListing.aspx">
		<system.web>
			<authorization>				
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="SupplierMaster.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin, Focus" />
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<system.web>
        <authorization>
            <deny users="?"/>
        </authorization>    
    </system.web>
    <system.webServer>        
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>
