<?xml version="1.0"?>
<configuration>
    <system.web>

    </system.web>
  <location path="WebService.asmx">
    <system.web>
      <webServices>
        <protocols>         
          <add name="HttpPost"/>
		  <add name="HttpGet"/>
        </protocols>
      </webServices>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>  
</configuration>
