<?xml version="1.0"?>
<configuration>
    <location path="OpenClaimDues.aspx">
        <system.web>
            <authorization>
                <allow roles="Admin, Focus, Customer" />
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
	<location path="ClaimByStatus.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin, Focus, Customer" />
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>	
	<system.webServer>
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>
