<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
    <location path="ManageRoles.aspx">
        <system.web>
            <authorization>
                <allow roles="Admin" />
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="ManageUsers.aspx">
        <system.web>
            <authorization>
                <allow roles="admin" />
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="AddUser.aspx">
        <system.web>
            <authorization>
                <allow roles="admin" />
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="AssignRoles.aspx">
        <system.web>
            <authorization>
                <allow roles="Admin" />
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
  <system.web>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
    <system.webServer>
        <directoryBrowse enabled="false" />
    </system.webServer>
    <location path="Login.aspx">
        <system.webServer>
            <httpRedirect enabled="false" />
        </system.webServer>
    </location>
</configuration>
